/backend/app/models/* @KKKZOZ @TwilightMayfly @Toconquer1 @ishtcuwaun @dgfgr
/backend/app/schemas/* @KKKZOZ @TwilightMayfly @Toconquer1 @ishtcuwaun @dgfgr
/backend/.env.example @KKKZOZ @TwilightMayfly @Toconquer1 @ishtcuwaun @dgfgr 
/backend/requirements.txt @KKKZOZ @TwilightMayfly @Toconquer1 @ishtcuwaun @dgfgr 